general {
    close_on_exit true
    session_serialization false
}
layout {
    pane name="web-app" split_direction="vertical" {
        cwd "~/Developer/web-app/"
        command "npm"
        args "run" "dev"
    }
    pane name="category-service" split_direction="vertical"{
        cwd "~/Developer/category-service/"
        command "npm"
        args "run" "dev"
    }
}
